body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.err-msg {
    color: #e87b6e;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
}

.err-msg-delete {
    color: #ffadab;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    letter-spacing: 1px;
}


.hidden-element {
    display: none !important;
}

.show-element {
    display: block !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid .navbar-header {
    padding-left: 20px;
}

.container-fluid .navbar-collapse {
    padding-right: 20px;
}

.tournamentTable {
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;
    height: 50px;
    width: 150%;
    margin-top: -35px;
    border: 1px solid black;
    padding-top: 3px;
}

.searchTblResultTh, tr, td, th {
    text-align: center;
    border: 1px solid black;
    padding-top: 3px;
}

/*tr:nth-child(even) {background: #838383*/
/*}*/

/*tr:nth-child(odd) {background: #5e5e5e*/
/*}*/

/* Error messages customStyle.css */
.errMsgStyle {
    color: red;
    font-size: 5px;
}

/* Users avatar customStyle.css */
.avatar {
    float: left;
    /*margin-top: 1em;*/
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.container {
    width: 1300px;
}

.thCustom {
    border: thin solid black;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
}

.checkbox-custom {
    height: auto;
}

.a-custom {
    color: white;
    font-size: 14px;
}

.a-custom:link {
    text-decoration: underline;
}

.a-custom:visited {
    /*color: #E89980;*/
}

.button-custom{
    background-color: #006dcc;
    border-color: #0044cc;
}

.button-custom:hover{
    background-color: #0044cc;
}

/* Locations table row update/delete buttons */

.btn-location-0 {
    position: relative;
    left: 120px;
    top: 36px;
}

.btn-location-1 {
    width: auto;
    height: auto;
}

.btn-location-2{
    width: auto;
    height: auto;
    margin-left: 55px;
    margin-top: -39px;
}

.label-custom {
    color: black;
}

.label-size {
    font-size: 15px;
}

.background-custom {
    background-color: #838383;
    background-size: 100% 110%;
}

.container-custom {
    width: 550px;
}

.btn-location-3 {
    position: relative;
    left: 0px;
    top: 51px;
}