body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}


/*
    add-tournament.jsp submit button
*/
.submitBtn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}